
/* INDEX SECTION  */
#title{
    background-color: white;
}

.container-fluid{
    padding : 3% 5%;
}

.happy-face{
    margin: 20px 10px;
    font-size :4rem;
 }

.navbar-brand{
    font-family:'Bebas Neue';
    font-size: 5.0rem;
    font-weight: bold;
}

.navbar{
    padding:0 2.5 4.5rem;
    border-bottom: 2px solid black;
    
}

.navbar-item{
    padding: 0 30px;
    font-family: 'Bebas Neue';
    font-size: 1.8rem;
}

.navbar-link{
    font-family:'Bebas Neue', sans-serif;
    font-size: 1.2rem;

}

.navbar-light .navbar-nav .nav-link {
    color: rgb(182, 37, 37);
    text-decoration:overline;
    font-weight: lighter;
    letter-spacing: 2px;
}

h1{
    color: rgb(226, 49, 49);
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-size :7rem;
    line-height:1.5;
    text-align: center;
    letter-spacing: 3px;
}

h2{
    font-family: 'PT Sans Narrow';
    font-weight: bolder;
    font-size :3rem;
    line-height:1.5;
    text-align: center;
    letter-spacing: 2px;
}

#carouselControls{
    padding: 0 20px;
}

#footer{
    padding :7% 15%;
    text-align:center;
    font-size: 40;
    font-family:'PT Sans Narrow';
}




/* CONTACT SECTION  */

#title2{
    padding : 2% 5%;
    margin: 20px 10px;
    background-color:  rgb(243, 243, 243);
}

.contact-text{
    color: rgb(177, 177, 177);
    font-family: 'PT Sans Narrow';
    text-align: center;
    letter-spacing: 3px;
    font-size: 2rem;
}
.contact-text2{
    color: rgb(177, 177, 177);
    font-family: 'PT Sans Narrow';
    text-align: center;
    letter-spacing: 3px;
    font-size: 2rem;
}

#contactinfo{
    background-color: white;
    padding : 3% 5%;
    margin: 20px 5px;
    border-top: 2px black;
}

.name{
    color: rgb(0, 0, 0);
    font-family: 'PT Sans Narrow';
    font-weight: bolder;
    text-align: center;
    letter-spacing: 3px;
    font-size: 5rem;
    line-height:1.5;
}
.email{
    color: rgb(226, 49, 49);
    font-family: 'Bebas Neue';
    text-align: center;
    text-decoration: underline;
    letter-spacing: 3px;
    font-size: 4rem;
    line-height:1.5;
}

.myemail{
    color: black;
    font-family: 'PT Sans Narrow';
    text-align: center;
    letter-spacing: 3px;
    font-size: 3rem;
    line-height:1.5;
}

.phone{
    color: rgb(226, 49, 49);
    font-family: 'Bebas Neue';
    text-align: center;
    text-decoration: underline;
    letter-spacing: 3px;
    font-size: 4rem;
    line-height:1.5;
}

.myphonenumber{
    color: rgb(0, 0, 0);
    font-family: 'PT Sans Narrow';
    text-align: center;
    letter-spacing: 3px;
    font-size: 3rem;
    line-height:1.5;
    margin: 20px 20px;
}



/* ABOUT ME SECTION  */

.hello{
    background-color:  rgb(243, 243, 243);
    font-family: 'Bebas Neue';
    padding : 2% 5%;
    margin: 10px 10px;
    text-align: left;
    border: 2px solid black;

}

#features{
    background-color: white;
    text-align: left;
    border-bottom: 2px solid black;
    padding : 2% 5%;
    
}

.profile{
    text-align: center;
    
    
}
.body{
    background-color:white;
    text-align: left;
    font-size: 19pt;
    padding : 2% 5%;
    margin: 10px 10px;
    
}

.body2{
    background-color:white;
    text-align: left;
    font-size: 18pt;
    padding : 2% 5%;
    margin: 10px 10px;
    
}


.name2{
    color: rgb(0, 0, 0);
    font-family: 'PT Sans Narrow';
    font-weight: bolder;
    text-align: left;
    letter-spacing: 3px;
    font-size: 5rem;
    line-height:1.5;

}

.icon{
    color :rgb(235, 220, 11);
    margin-bottom: 1rem;
    padding : 2% 5%;
    margin: 10px 10px;
  

}

.icon:hover{
    color :black;
}



.feature-box{
    text-align:center;
   
}

.where{
    font-size: 24pt;
    color: rgb(182, 37, 37);
    font-weight: bolder;
    font-family: 'Bebas Neue';
}


.location{
    font-size: 22pt;
    font-family: 'PT Sans Narrow';
}

.leadership{
    font-size: 24pt;
    color: rgb(182, 37, 37);
    font-weight: bolder;
    font-family: 'Bebas Neue';
}

.answer{
    font-size: 22pt;
    font-family: 'PT Sans Narrow';
}

.info{
    font-size: 24pt;
    color: rgb(182, 37, 37);
    font-weight: bolder;
    font-family: 'Bebas Neue';
}

.data{
    font-size: 22pt;
    font-family: 'PT Sans Narrow';
}


#aboutme{
    background-color: rgb(243, 243, 243);
    text-align: left;
    border-bottom: 2px solid black;
    padding : 2% 5%;
    
}


/* WORK SECTION  */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: PT Sans Narrow;
    padding: 20px;
    background: white;
  }
  
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  
  .leftcolumn { 
    float: left;
    width: 75%;
  }
  
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  .fakeimg {
    background-color: rgb(243, 243, 243);
    width: 100%;
    padding: 20px;
    font-size: 18pt;
    color: black;
    font-family: 'PT Sans Narrow';
  }
  
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn { 
      width: 100%;
      padding: 0;
    }
  }


.bachelor{
    font-size: 20pt;
    color: black;
    font-weight: bolder;
    font-family: 'PT Sans Narrow';
}

.university{
    font-size: 18pt;
    color: black;
    font-family: 'PT Sans Narrow';
}

.education{
    color: rgb(182, 37, 37);
   
}

.extra{
    color: rgb(182, 37, 37);
    font-family: 'PT Sans Narrow';
    font-size: 32pt;
    font-weight: bolder;
    text-align: center;
    font-weight: bolder;
   
}
.volunteer{
    color: rgb(182, 37, 37);
    font-family: 'PT Sans Narrow';
    font-size: 40pt;
    font-weight: bolder;
    text-align: center;
    font-weight: bolder;
   
}

.resume{
    color: rgb(182, 37, 37);
    font-family: 'PT Sans Narrow';
    font-size: 40pt;
    font-weight: bolder;
    text-align: center;
    font-weight: bolder;
   
}

.left{
    color: black;
    font-family: 'PT Sans Narrow';
    font-size: 40pt;
    font-weight: bolder;
    text-align: left;
    font-weight: bolder;

}

.right{
    color: rgb(182, 37, 37);
    font-weight: bolder;

}


#qualifications{
    background-color: white;
    text-align: center;
    padding : 2% 5%;
    
}

